{% extends 'base.html' %}

{% block content %}
  <div class="row" id="buttons">
    <p>Events count: <i id="events-count"></i></p>

    <button class="btn">Button here</button>

    <button class="btn">Another button</button>

    <button class="btn">Wow and another one!</button>
  </div>

  <div class="row" id="charts">
    <div class="col-sm-4">
      <canvas id="users" width="200" height="200"><div class="chart-loading">Chart is loading</div></canvas>
    </div>
  </div>

{% endblock content %}

{% block script %}
  {{ block.super }}

  <script>
    // on load populate the events counter.
    $(document).ready(function() {
      $.get('/v1/events/count/', function(data) {
        $('#events-count').html(data['count'])
      })
    })
  </script>

  <script>
    // Analytics tracking.

    const events = "blur focus focusin focusout load resize scroll unload click " +
      "dblclick mousedown mouseup mousemove mouseover mouseout mouseenter " +
       "mouseleave change select submit keydown keypress keyup error";

    // const events = 'click';

    const eventsBridge = new channels.WebSocketBridge();
    eventsBridge.connect('/events/');
    eventsBridge.listen(function(action, stream) {
      // log number of events, and when last updated.
      // console.log(action);
      if (action['count']) {
        $('#events-count').html(action['count'])
      }
    });
    eventsBridge.socket.addEventListener('open', function() {
      console.log("Connected to events");
    });

    $('button').on(events, function(e) {
      var mini_event = {
        currentTarget: e.currentTarget,
        type: e.type,
        timeStamp: e.timeStamp,
        clientX: e.clientX,
        clientY: e.clientY
      };

      eventsBridge.send(mini_event);

    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
  <script>
    // Top users charting
    var top_users_data = {
        type: 'pie',
        data: {
            labels: [],
            datasets: [{
                label: '# of Events',
                data: [],
                backgroundColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    };

    var ctx = $('#charts #users');
    var top_users_chart = new Chart(ctx, top_users_data);

    $(document).ready(function() {
      $.get('/v1/events/top_users/')
        .done(function(data) {
          var labels = [];
          var counts = [];

          var users = data['results'];
          users.forEach(function(user) {
            labels.push(user.username);
            counts.push(user.count);
          });

          top_users_data.data.labels = labels;
          top_users_data.data.datasets[0].data = counts;

          top_users_chart.update();

        })
        .fail(function(xhr, status, error) {
          console.log(['Could not get chart data', status, error]);
        });

    });

  </script>

{% endblock script %}



<!--
e.currentTarget
e.type
e.timestamp
e.clientX
e.clientY

-->